# Project 4
## Conner Cook and Josh Ibad
### CPSC 483-01

## Introduction:
In this project, we will work with several toy datasets to compare the decision boundaries determined by several classifier algorithms.

## Experiment 1:
In order to compare the decision boundaries, we have to load the three datasets we will be using.

In [2]:
# Import the pandas library in order to have the read_csv function
import pandas as pd
# Utilize the read_csv function to read the csv file and save it to df (dataframe)
# use the sep parameter to seperate the columns and rows
df1 = pd.read_csv("dataset1.csv", sep=",")
df1.head()

   1.8005387353055742  -0.5392180610512733  0
0           24.330831            26.439146  1
1           21.124114            21.166814  1
2           10.517197            11.175424  0
3           19.737721            23.341138  1
4            8.404446             8.196714  0

In [3]:
df2 = pd.read_csv("dataset2.csv", sep=",")
df2.tail()

     -1.6644070030229474  17.24541535537469  0
194            14.648641          18.261043  1
195            15.618267          10.398619  1
196            18.280171           9.001519  1
197            13.415497           6.349741  1
198             5.702577          25.346361  0

In [4]:
df3 = pd.read_csv("dataset3.csv", sep=",")
df3.tail()

     30.876149283835716  7.806792944703234  0
194            8.029149          17.007334  1
195           11.341650          18.551593  1
196           29.313882           2.027670  0
197            8.122641          20.294774  1
198           28.770680          14.784148  0

## Experiment 1 Conclusion:
We utilized the read_csv method from pandas to read in the data from the three datasets. The three columns of the datasets are: feature x1, feature x2, and a label of 0 or 1. All three datasets have length of 199 entries.

## Experiment 2:
In this experiment, we will fit and score different binary classifiers for dataset 1 to test how accurate each model's predictions are. The three models we will use are logistic regression, gaussian naive bayes, and K-Nearest Neighbors.

In [1]:
from sklearn.linear_model import LogisticRegression

log_model =  LogisticRegression()